<form (ngSubmit) = "onSubmit()" >
    
					
					
					
                        
    

    <div class="form-group">
        <label> <Label>Label</Label></label>
        <input type="text" class ="form-control" id = "label	"
        placeholder="Label" [(ngModel)] = "categorie.label	" name = "label	">
    </div>
    
    
    
   
    <button class = "btn btn-outline-primary" type ="submit">Confirmer</button>
    <button class = "btn btn-outline-danger" type ="submit" routerLink="/categorie">
        Annuler</button>

</form>
