<div class="scrollmenu">
	<div class="factContainer">
				   <div class="button">
					<button type="button" class="btn btn-primary" routerLink="/add-facture">Ajouter Facture</button>
				</div>
		   
				<div class="table catTable">
					<ul class="table-header">
						<li class="HItem HItem1">
							Id Facture
						</li>
						<li class="HItem HItem2">
							Date Facture
						</li>
						<li class="HItem HItem2">
							Prix Total
						</li>
						<li class="HItem HItem2">
							Numéro d'facture
						</li>
						<li class="HItem HItem3">
							Actions
						</li>
					</ul>
					<ul  *ngFor = "let facture of factures" class="catTable-body">
						<li class="BItem BItem1">
							{{ facture.id }}
						</li>
						<li class="BItem BItem2">
							{{ facture.date_facture }}
						</li>
						<li class="BItem BItem2">
							{{ facture.prix_total }} 
						</li>
						<li class="BItem BItem2">
							{{ facture.numFacture}} 
						</li>
						<li class="BItem BItem3">
							<div class="action-toggle">
								<span>...</span>
								<div class="action-container">
									<button (click) = "updateFacture(facture.id)" type="button" class="btn btnUpdate" >Mise à jour</button>
									<button (click) = "deleteFacture(facture.id)" type="button" class="btn btnDelete" >Supprimer</button>
								</div>
								
							</div>
						</li>
						<li class="editCat" *ngIf="editfactEnable && id == facture.id">
							<div class="popup-container">
								<div class="popup-header">
									<span class="close" (click)="close()">X</span>
								</div>
								<div class="popup-body scroll-container">
									<form (ngSubmit) = "onSubmit()">
		
										<div class="form-group" >
											<label> Id Facture</label>
											<input type="text" readonly class ="form-control" id = "id"
												[(ngModel)] = "facture.id" name = "id">
										</div>
									
										<div class="form-group">
											<label>      Date Facture</label>
											<input type="date" class ="form-control" id = "dateFacture"
												[(ngModel)] = "newFacture.dateFacture" name = "dateFacture">
										</div>
									
										<div class="form-group">
											<label>      Prix Total </label>
											<input type="text" class ="form-control" id = "prixTotal"
												[(ngModel)] = "newFacture.prixTotal" name = "prixTotal">
										</div>
									 
										<div class="form-group">
											<label> Num Facture</label>
											<input type="text" class ="form-control" id = "numFacture"
												[(ngModel)] = "newFacture.numFacture" name = "numFacture">
										</div>
										
									
									
										<button (click)="onSubmit()" class = "btn btn-success" type ="submit" >Modifier</button>
									
									</form>
								</div>
							</div>
						</li>			
					</ul>
				</div>
	</div>
	</div>				
	