
<div class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">
      <!-- Brand logo-->
      <!-- /Brand logo-->
      <!-- Left Text-->
      <div class=" d-lg-flex col-lg-8  " >
        <div class="  img ">
          <img
            class="img-fluid"
            src="/assets/img/224411825e_50171213_crm.jpg" width="5000" height="6000" 
            alt="forgot-password "
          />
        </div>
      </div>
      <!-- /Left Text-->
      <!-- Login-->
      <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5 ">
        <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
          <h2 class="card-title font-weight-bold mb-1">Mot de passe oublié? 🔒</h2>
          <p class="card-text mb-2">Entrez votre email et nous vous enverrons des instructions pour réinitialiser votre mot de passe</p>
          <form class="auth-forgot-password-form mt-2">
            <div class="form-group">
              <label class="form-label" for="forgot-password-email">Email</label>
              <input
                class="form-control"
                type="text"
                formControlName="email"
                placeholder="john@example.com"
                aria-describedby="forgot-password-email"
                autofocus=""
                tabindex="1"
              />
              
            </div>
            <button class="btn btn-primary btn-block" tabindex="2" rippleEffect>Envoyer le lien de réinitialisation</button>
          </form>
          <p class="text-center mt-2">
            <a href="/login"
              > Retour connexion</a
            >
          </p>
        </div>
      </div>
      <!-- /Forgot password-->


  